<div class="container">
    <div class="head-container">
        <h4>Manage <strong>Employees</strong></h4>
        <div class="head-button">
            <button type="button" class="btn btn-danger" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                <i class="bi bi-person-plus-fill"></i> Delete
            </button>
            <a class="btn btn-success" routerLink="/create-form">
                <i class="bi bi-person-x-fill"></i> Add new employees
            </a>
        </div>
    </div>
</div>